body {
	font-family: Verdana, sans-serif;
	font-size: 9pt;
	width: 95%;
	margin: auto;
}

h1 {
	background-color: Indigo;
	border-radius: 1em;
	color: white;
	font-size: 12pt;
	padding: .5em;
	margin-bottom: 0;
}

h2 {
	font-size: 11pt;
}

ul.navigation {
	background-color: #efefef;
	width: 90%;
	margin: auto;
	margin-bottom: 3em;
	padding: 0;
	border-radius: 0em 0em 1em 1em;
}

ul.admin {
	display: inline;
	padding: 0;
	font-size: x-small;
}

ul.navigation li, ul.admin li {
	display: inline-block;
	padding: .5em;
}

li.right {
	float: right;
}

a, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#footer {
	border-top: 1px dashed gray;
	color: gray;
	text-align: center;
	padding: 1em;
}

fieldset {
	border: 0;
	padding: 0;
}

button {
	font-family: Verdana;
	font-size: 9pt;
	border: 1px outset black;
	background-color: #efefef;
	margin: .5em;
	padding: .2em;
}

#content, #footer {
	margin: auto;
	width: 90%;
}

textarea {
	width: 100% !important;
	display: block;
	margin: 0;
}

label {
	padding-right: .5em;
}

p.quote, .snippet-wrap {
	font-family: monospace;
	margin-top: 0;
	margin-bottom: 2.5em !important;
}

.good {
	color: green;
}

.bad {
	color: red;
}

.formValidationError {
	color: red;
}

.description {
	color: gray;
}

fieldset {
	padding: 1em;
}

fieldset:nth-child(odd) {
	background-color: #efefef;
}

div.pagination {
	text-align: center;
	padding: 1em;
}

span.currentPage {
	font-weight: bold;
	padding: 1em;
}

span.subtle, h1 span.subtle a {
	color: gray;
}

div.container {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: center;
}

div.quoteContainer {
}

div.voteContainer {
	display: inline-block;
	margin-right: 1em;
	vertical-align: top;
	width: 75px;
	text-align: right;
}

div.voteContainer a {
	display: block;
	color: lightgray;
	cursor: pointer;
	font-size: 1.5em;
	text-decoration: none;
}

div.voteContainer a:hover {
	color: gray;
}

div.textContainer {
	display: inline-block;
	width: 90%;
}

span.voteCount {
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
	padding-right: 1em;
	text-align: right;
}

div.voteButtons {
	display: inline-block;
	vertical-align: middle;
}

p.error {
	background-color: salmon;
	border: 2px solid red;
	position: fixed;
	left: 2.5%;
	top: 12.5%;
	padding: .4em;
	cursor: pointer;
}

p.error:hover {
	border-color: black;
}

#formLogin fieldset {
	background-color: #fff !important;
}

button {
	font-family: sans-serif;
}
