html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

nav {
  display: flex;
  flex-grow: 1;
}

footer {
  text-align: center;
  padding: 1em;
}

section {
  max-width: 800px;
}

section.small {
  width: 30%;
  margin: auto;
}

section *:last-child {
  margin-bottom: 0;
}

.quoteContainer {
  flex-grow: 1;
}

.quoteContainer ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.quoteContainer ul li {
  list-style-type: none;
  display: inline;
}

nav ul:first-child {
  flex-grow: 1;
}

#content, #footer {
  margin: auto;
  width: 90%;
}

textarea {
  width: 100% !important;
  display: block;
  margin: 0;
}

p.quote, .snippet-wrap {
  font-family: monospace;
  margin-top: .6em;
}

span.line {
  display: block;
  padding: .2em;
}

.formValidationError {
  color: red;
}

a, a:visited {
  color: #5f1a99;
  text-decoration: none;
}

a:hover .svg-icon {
  color: white;
}

header a, header a:visited {
  color: white;
}

header img.logo {
  margin-right: .3em;
}

header {
  color: white;
  background-color: #5f1a99;
  box-shadow: 0 0 1em #403636;
  place-items: center;
}

.svg-icon {
  width: 1.4em;
  height: 1.4em;
  vertical-align: bottom;
  fill: red;
}

div.pagination {
  text-align: center;
  padding: 1em;
  padding-bottom: 0;
}

span.currentPage {
  font-weight: bold;
  padding: 1em;
}

div.container {
  display: block;
  vertical-align: top;
  width: 50%;
  margin: auto;
}

section.quote {
  margin-bottom: 2.5em;
  display: flex;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
}

div.voteContainer {
  flex: 0 1 auto;
  margin-right: 1em;
  vertical-align: top;
  text-align: center;
  min-width: 2em;
}

div.voteContainer button {
  display: block;
  color: lightgray;
  cursor: pointer;
  border: 0;
  font-size: 1.5em;
  text-decoration: none;
  background-color: transparent;
}

div.voteContainer button:hover {
  color: black;
  background-color: transparent;
}

div.quoteHeader {
  display: flex;
  gap: .5em;
}

div.quoteHeader .adminLinks {
  flex-grow: 2;
  text-align: end;
}

div.quoteHeader ul.adminLinks a .svg-icon {
  padding: .2em;
  border-radius: 2em;
}

div.quoteHeader ul.adminLinks a:hover .svg-icon {
  background-color: #5f1a99;
}

span.voteCount.novotes {
  color: gray;
}

span.voteCount {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  text-align: center;
}

form#add {
  grid-template-columns: 1fr;
}

form#add button {
  justify-self: baseline;
}

form#add div.empty {
  display: none;
}

span.username {
  font-weight: bold;
}

nav li a:hover {
  background-color: #3a0b62;
}

ul.block-links {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 1em;
}

ul.block-links a {
  padding: 1em;
  display: block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 0 .5em #d2d2d2;
}

ul.block-links a:hover {
  background-color: #3a0b62;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #ddd;
  }

  ul.block-links a {
    border: 1px solid #666;
    box-shadow: 0 0 .5em #1c1c1c;
  }

  section {
    background-color: #444;
    color: #ddd;
    border-radius: 1em;
    box-shadow: 0 0 1em #261f1f;
    padding: 1em;
  }

  header {
    box-shadow: 0 0 1em #1c1c1c;
  }

  a, a:visited {
    color: #ccc;
  }

  a:hover {
    color: #fff;
  }

  form {
    background-color: #6a6a6a;
  }
}

.usernameColor1 {
  color: #D93989;
}

.usernameColor2 {
  color: #3399FF;
}

.usernameColor3 {
  color: green;
}

.usernameColor4 {
  color: orange;
}

.usernameColor5 {
  color: #FF00FF;
}

.usernameColor6 {
  color: #FF6600;
}

.usernameColor7 {
  color: #FFCC00;
}

.usernameColor8 {
  color: #00CC00;
}

#navigation-toggle {
  display: none;
  color: white;
  background-color: #5f1a99;
  border: 0;
  box-shadow: 0;
  font-size: 1.4em;
  padding: 0;
  padding-left: .4em;
  padding-right: .4em;
  margin: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: .5em;
  border: 1px solid #999;
}

@media screen and (max-width: 640px) {
  #content, #footer, body {
    width: auto;
  }

  h1 {
    margin-top: 0;
    border-radius: 0;
    flex-grow: 1;
    text-align: right;
  }

  div.navbar {
    width: auto;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #999;
  }

  ul.navigation.right {
    border-left: 1px dashed #999;
  }

  div.voteContainer {
    text-align: center;
    margin-right: 0.5em;
  }

  span.voteCount {
    display: block;
    padding: 0;
    text-align: center;
  }

  #navigation-toggle {
    z-index: 9;
  }

  nav {
    display: none;
    position: fixed;
    top: 0;
    width: 180px;
    height: 100vh;
    left: 0;
    flex-direction: column;
    background-color: black;
    padding-top: 4em;
  }

  nav.open {
    display: flex;
  }

  #navigation-toggle {
    display: block;
  }

  nav ul li {
    display: block;
    margin: 0;
  }

  nav ul li a {
    display: block;
    padding-left: 1em;
    padding-top: .4em;
    padding-bottom: .4em;
    border-radius: 0;
  }

  nav ul:first-child {
    padding-bottom: 2em;
    flex-grow: 0;
  }

  header {
    flex-direction: row-reverse;
  }
}


